@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');

body{
    background-color: #03223f;
}

.bt{
    background-color:  #010d23;
    font-family:'Cormorant SC', serif;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.header{
    border-radius: 10px;
    display: flex;
    background-color:#03223f;
    margin: 10px;
    justify-content: space-around;
    border-left: inset #038bbb 10px ;
    border-bottom: inset #038bbb 10px ;
    border-top: 3px inset #0593c7 ;
    border-right: 3px inset #0593c7 ;
    #fccb6f
    #e19f41
    
}


.bt:hover {
    background-color:#038bbb;
    color: black;
    border: outset 3px #038bbb;   
}
